@using MvcProje.Models.Entity
@model List<TBLKATEGORILER>
@*yukarıdakileri tanımlaman lazım*@
@using Resources


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>@Labels.CategoryId</th>
        <th>@Labels.CategoryName</th>    
        <th>@Labels.Delete</th>
        <th>@Labels.Update</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <th>@ktgr.KATEGORIID</th>
                <td>@ktgr.KATEGORIAD</td>
                <td>
                    <a href="/KATEGORI/SIL/@ktgr.KATEGORIID" class="btn btn-danger btn-delete">@Labels.Delete</a>
                </td>
                @*@sweetalert yapmak için mainlayoutten burdan çekiyorum@*@
                <td>
                    <a href="#" class="btn btn-success btn-update" data-id="@ktgr.KATEGORIID">@Labels.Update</a>
                </td>
                @*@güncelleme butonu@*@
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" data-toggle="modal" data-target="#addModal">
    @Labels.AddCategory
</button>    @*@her sayfada modal buton ekle@*@

<!-- EKLEME MODAL -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModalLabel">@Labels.AddModalTitle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="addCategoryForm">
                    <div class="form-group">
                        <label>@Labels.CategoryName</label>
                        <input type="text" name="KATEGORIAD" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>@Labels.CategoryNameEN</label>
                        <input type="text" name="KATEGORI_EN" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-primary">@Labels.AddButtonText</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Güncelleme Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Labels.UpdateModalTitle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="updateCategoryForm">
                    <input type="hidden" id="KATEGORIID" name="KATEGORIID" />

                    <div class="form-group">
                        <label>@Labels.CategoryName</label>
                        <input type="text" id="KATEGORIAD" name="KATEGORIAD" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>@Labels.CategoryNameEN</label>
                        <input type="text" id="KATEGORI_EN" name="KATEGORI_EN" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">@Labels.UpdateButtonText</button>
                </form>
            </div>
        </div>
    </div>
</div>



<script>

    var kullaniciGirisYapmisMi = @((Session["KULLANICI"] != null).ToString().ToLower());

    $(document).ready(function () {
        // Sil butonu
        $(".btn-delete").click(function (e) {
            if (!kullaniciGirisYapmisMi) {
                e.preventDefault();
                window.location.href = "/Login/Index";
            }
        });

        // Güncelle butonu
        $(".btn-update").click(function (e) {
            if (!kullaniciGirisYapmisMi) {
                e.preventDefault();
                window.location.href = "/Login/Index";
            }
        });

        // Ekle modal butonu
        $("button[data-target='#addModal']").click(function (e) {
            if (!kullaniciGirisYapmisMi) {
                e.preventDefault();
                window.location.href = "/Login/Index";
            }
        });
    });

    //yukarıdaki kod bloğunun tamamı kullanıcı erişimini engellek için yapılmıştır kullanıcı giriş yapmadan kategori ekleme ,silme ve güncelleme işlemi yapamaz.

    $("#addCategoryForm").submit(function (e) {
        e.preventDefault();

        var formData = {
            KATEGORIAD: $("input[name='KATEGORIAD']").val(),
            KATEGORI_EN: $("input[name='KATEGORI_EN']").val(),
        };

        $.ajax({
            url: '/Kategori/KategoriEkle',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {
                    $("#addModal").modal('hide');
                    location.reload();
                } else {
                    alert("Ekleme başarısız.");
                }
            },
            error: function () {
                alert("Hata oluştu.");
            }
        });
    });
    @*@burda ekleme işlemi yapıyoruz@*@


    $(document).on("click", ".btn-update", function () {
        var id = $(this).data("id");

        $.ajax({
            url: '/Kategori/KategoriGetir',
            type: 'GET',
            data: { id: id },
            success: function (data) {
                $("#KATEGORIID").val(data.KATEGORIID);
                $("#KATEGORIAD").val(data.KATEGORIAD);
                $("#KATEGORI_EN").val(data.KATEGORI_EN);
                $("#updateModal").modal("show");
            }
        });
    });
    @*@burda güncelleme işlemi yapılırken verileri inputlara çekiyor@*@

    $("#updateCategoryForm").submit(function (e) {
        e.preventDefault();

        var formData = {
            KATEGORIID: $("#KATEGORIID").val(),
            KATEGORIAD: $("#KATEGORIAD").val(),
            KATEGORI_EN: $("#KATEGORI_EN").val(),
        };

        $.ajax({
            url: '/Kategori/KategoriGuncelle',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {
                    $("#updateModal").modal('hide');
                    location.reload();
                } else {
                    alert("Güncelleme başarısız.");
                }
            }
        });
    });
    @* Formu Submit Edince Güncelleme Yapsın(güncelleme işlemini gerçekleştiriyor*@
</script>
