@{
    var kullanici = Session["KULLANICI"];
}
@*bunu kullanıcı var mı yok mu diye yaptık sebebi ise giriş yapınca giriş yap butonu çıkış yap butanuna dönüyor*@

@using Resources
@using System.Web
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" />
    @*bu satır sweet alert için yazıldı*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</head>
<body>

    <nav class="navbar navbar-default" style="background-color: #001f3f; border-color: #001f3f;">
        @*navbara renk verdim*@

        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Elsyian Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Kategori/Index/">@Labels.Categories</a></li>
                <li><a href="/Urun/Index/">@Labels.Products</a></li>
                <li><a href="/Musteriler/Index/">@Labels.Customers</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form action="/Dil/Degistir" method="get" class="navbar-form" style="padding-top: 8px;">
                        <select name="lang" onchange="this.form.submit();" class="form-control">
                            <option value="tr" @(System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "tr" ? "selected" : "")>Türkçe</option>
                            <option value="en" @(System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en" ? "selected" : "")>English</option>
                        </select>
                    </form>
                </li>

                @if (kullanici != null)
                {
                    <li><a href="/Login/Logout"><span class="glyphicon glyphicon-log-out"></span> @Labels.Logout</a></li>
                }
                else
                {
                    <li><a href="/Login/Index"><span class="glyphicon glyphicon-log-in"></span> @Labels.Login</a></li>
                }
            </ul>
            @*yukarıdaki ul tagları login işlemi içindir*@
        </div>

    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @*bu satır sweetalert için yazıldı*@
  
</body>
</html>

<script>
    $(document).on("click", ".btn-delete", function (e) {
       e.preventDefault();
       var url = $(this).attr("href");

       Swal.fire({
           title:    deleteTitle,
           text:     deleteText,
           icon:     'warning',
           showCancelButton: true,
           confirmButtonColor: '#d33',
           cancelButtonColor: '#3085d6',
           confirmButtonText: confirmButton,
           cancelButtonText:  cancelButton
       }).then((result) => {
           if (result.isConfirmed) {
               window.location.href = url;
           }
       });
   });


       // 👇 Aşağıdaki dört satırı ekle
       var deleteTitle    = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Labels.ConfirmDelete))';
       var deleteText     = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Labels.ConfirmDeleteMsg))';
       var confirmButton  = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Labels.ConfirmYes))';
       var cancelButton   = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Labels.ConfirmCancel))';



</script>

